<nav class="top-bar">
  <ul class="title-area">
    <li class="name">
      <h1><a href="#"><%= message ? message : "MILEAGE TRACKER" %></a></h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
  </ul>
    <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li class="hide-for-small"><%= link_to "NEW ENTRY", new_mileage_record_path %></li>
      <li class="has-dropdown">
        <a href="#">OPTIONS</a>
        <ul class="dropdown">
          <li><a href="#">EDIT PROFILE</a></li>
        </ul>
      </li>
    </ul>
</nav>