.row.collapse
  .tabs
    .small-4.columns
      = link_to "ADD ENTRY", mileage_records_path, class: "tab-link tab-link-index"
    .small-4.columns
      = link_to "LIST VIEW", list_view_mileage_records_path, class: "tab-link tab-link-list"
    .small-4.columns
      = link_to "STATS", stats_mileage_records_path, class: "tab-link tab-link-stats"
