.row
  .small-12.columns
    .tabs
      = link_to  mileage_records_path, class: "tab-link tab-link-index" do
        %i.fa.fa-plus
        %br
        New
      = link_to list_view_mileage_records_path, class: "tab-link tab-link-list" do
        %i.fa.fa-list-ul
        %br
        List
      = link_to stats_mileage_records_path, class: "tab-link tab-link-stats" do
        %i.fa.fa-database
        %br
        Stats
