.row
  .small-6.columns
    = link_to "ADD ENTRY", mileage_records_path, class: "tab-link tab-link-index"
  .small-6.columns
    = link_to "LIST VIEW", list_view_mileage_records_path, class: "tab-link tab-link-list"
