<%= render :partial => 'nav', locals: {:message => "DOWNLOAD MILEAGE DATA"} %>

<div class="row">
	<div class=" medium-8 medium-centered large-6 large-centered columns">
		<%= link_to "DOWNLOAD ALL DATA", mileage_records_path(:format => :csv), :class => "button download_all_button" %>
	</div>
</div>
