<%= render :partial => 'nav', locals: {:message => "EDIT ENTRY"} %>

<%= render 'form' %>

<div class="row">
	<div class="small-12 columns">
		<%= link_to 'Show', @mileage_record %> |
		<%= link_to 'Back', mileage_records_path %>
	</div>
</div>
