= render 'tabs'
%table.list
  %thead
    %tr
      %th Date
      %th Route
      %th Mileage
  %tbody
    -  @mileage_records.each do |m|
      %tr
        %td
          = m.record_date.strftime("%m/%d")
        %td
          = m.route_description
        %td
          = m.end_mileage
