= render 'tabs'

- @mileage_records.group_by { |mr| mr.record_date.beginning_of_month }.each do |month, mileage_records|
  %h3.tc= month.strftime("%B-%Y")
  = render 'list_view_table', mileage_records: mileage_records
