<%= render :partial => 'nav', locals: {:message => "NEW ENTRY"} %>

<%= render 'form' %>

<div class="row">
  <div class="small-12 columns">
  	<%= link_to 'Back', mileage_records_path %>
  </div>
</div>
<br>
