<div class="row">
  <div class="small-12 columns">
		<h1 class="tc">New Entry</h1>
  </div>
</div>

<%= render 'form' %>

<div class="row">
  <div class="small-12 columns">
  	<%= link_to 'Back', mileage_records_path %>
  </div>
</div>
