
.row
  .small-12.columns
    %h3.tc Please Update Your Payment Information
    %p
      %i You must enter a valid credit card in order to access the app

= render 'devise/shared/update_payment_form'

.row
  .small-12.columns
    If you are having issues, please 
    = link_to "Contact Us", "mailto:support@idrivealot.com"


