<h3>Hi <%= @user.email %></h3>

<p>Unfortunately, our attempt to charge your credit card for this month's payment was unsuccessful. This is most likely due to no longer valid credit card information.</p>
<p>Please login to idrivealot.com (<%= link_to "Click Here", new_user_session_url %>) to update your credit card information.</p>
<p>We will attempt to charge your credit card for a total of 3 tries before having to cancel your account.</p>

<p>If you have any other questions, please reply directly to this email.</p>
<p>Thanks!</p>
<p>- idrivealot Team</p>
