// Place all the styles related to the mileage_records controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {
	margin: 0px;
	padding: 0px;
}

body {
	font-family: 'Open Sans', sans-serif;
	margin: 0px;
	padding: 0px;
}

header {
	background: #C0E0DD;
	width: 100%;
	min-height: 50px;
	margin-top: 0px;
	color: white;
	line-height: 50px;

	h1 {
		margin: 0px 10px 0px 10px;
		display: inline-block;
		font-weight: 400;
	}
	#menu-icon {
		float: right;
		padding-right: 10px;
	}

	ul {
		display: none;
		margin-right: 5%;
		margin-left: 5%;
		padding: 0px;
		a {
			width: 100%;
			display: inline-block;
			padding: 10px;
			border-radius: 5px;
		}
		a:hover {
			background-color: darken(#C0E0DD, 15%);
		}
	}
	
	a {
		color:white;
		text-decoration: none;
	}

}

.container {
	margin: 30px auto;
	max-width: 500px;
	@media screen and (max-width: 500px){
		margin: 30px;
	}
}

ul {
	list-style: none;
	margin: 0;
}

li {
	padding: 10px;
}

form {
	label {
		display: block;
		margin-bottom: 8px;
	}
	select, input {
		color: #222;
		margin-bottom: 20px;
		font-size: 14px;
		width: 100%;

		:after {
			content: "HKMM";
		}
	}
}

input[type=text], input[type=email], input[type=password], input[type=number] {
	/* Remove First */
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;


	padding: 10px;
	border: none;
	box-sizing: border-box;
	box-shadow: 0 0 6px rgba(0,0,0,0.3);
	border-radius: 3px;

}

$lightGrey: '#A2A9A8';

::-webkit-input-placeholder {
	color: $lightGrey;
}

:-moz-placeholder { /* Firefox 18- */
	color: $lightGrey;  
}

::-moz-placeholder {  /* Firefox 19+ */
	color: $lightGrey;  
}

:-ms-input-placeholder {  
	color: $lightGrey;  
}

input[type=submit] {
	display: inline-block;
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;
	cursor:pointer;
}

select {
	padding: 10px;
	display: inline-block;
	border: 1px solid #A2A9A8;
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;
	cursor:pointer;
}

.btn {
	border-radius: 3px;
	color: #ffffff;
	font-size: 14px;
	padding: 10px;
	text-decoration: none;
	border: none;
}

.btn:hover {
	text-decoration: none;
}

.buttons {

	.btn {
		width: 100%;
		display: inline-block;
		text-align: center;
		height: 50px;
		line-height: 30px;
	}
}

.new-button {
	background-color: #787F7C;
}

.new-button:hover {
	background-color: darken(#787F7C, 15%);
}

.save-button {
	background-color: darken(#C0E0DD, 15%);
}
.save-button:hover {
	background-color: darken(#C0E0DD, 45%);
}
.field {
	margin-bottom: 15px;
}


.tab-link {
	display: inline-block;
	width: 100%;
	height: 70px;
	background-color: #AB89A7;
	color: white;
	text-align:center;
	line-height:70px;
	border-radius: 3px;
	margin-bottom: 40px;
	text-decoration: none;
}

.index .tab-link-index {
	box-shadow: inset 0 0 10px darken(#AB89A7, 35%);
}

.list_view .tab-link-list {
	box-shadow: inset 0 0 10px darken(#AB89A7, 35%);
}

.save-notice {
	color: green;
	font-size: .8em;
}
