// Place all the styles related to the mileage_records controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*** Variables ***/

$green: #6bb6af;



.tc {text-align: center}

html {
	margin: 0px;
	padding: 0px;
}

body {
	font-family: 'Open Sans', sans-serif;
	margin: 0px;
	padding: 0px;
}

header {
	background: darken(#C0E0DD, 25%);
	width: 100%;
	min-height: 50px;
	margin-top: 0px;
	color: white;
	line-height: 50px;

	h1 {
		margin: 0px 10px 0px 10px;
		display: inline-block;
		font-weight: 400;
	}
	#menu-icon {
		display: inline-block;
		float: right;
		padding-right: 10px;
		padding-left: 10px;
		width: 50px;
		font-size: 25px;
	}

	ul {
		display: none;
		margin-right: 5%;
		margin-left: 5%;
		padding: 0px;
		a {
			width: 100%;
			display: inline-block;
			padding: 10px;
			border-radius: 5px;
		}
		a:hover {
			background-color: darken(#C0E0DD, 15%);
		}
	}

	a {
		color:white;
		text-decoration: none;
	}

}

.container {
	margin: 30px auto;
	max-width: 500px;
	@media screen and (max-width: 500px){
		margin: 10px;
	}
}

.admin-users .container {
  max-width: 1000px;
}

.admin-users-table th {
  padding: 20px;
}

.admin-users-table tbody td {
  padding:20px 20px 20px 20px;
  border-bottom:1px solid #e0e0e0;
}

ul {
	list-style: none;
	margin: 0;
}

li {
	padding: 10px;
}

form {
	label {
		display: block;
		margin-bottom: 8px;
	}
	select, input {
		color: #222;
		margin-bottom: 20px;
		font-size: 14px;
		width: 100%;
		height: 55px;

		:after {
			content: "HKMM";
		}
	}
}

select:before {
	content: "\f0dd";
	font-family: 'FontAwesome';
}
.select-triangle {
//	position: relative;
//	top: -65px;
//	left: 92%;
}

input[type=text], input[type=email], input[type=password], input[type=number] {
	/* Remove First */
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;


	padding: 10px;
	border: 1px solid lightgrey;
	box-sizing: border-box;
	border-radius: 10px;

}

.remember-me div {
	display: inline-block;
}

.remember-me div:nth-child(1) {
	width: 20px;
	height: 20px;
}

.remember-me div:nth-child(2) {
	width: 120px;
	height: 55px;
}

$lightGrey: '#A2A9A8';

::-webkit-input-placeholder {
	color: $lightGrey;
}

:-moz-placeholder { /* Firefox 18- */
	color: $lightGrey;
}

::-moz-placeholder {  /* Firefox 19+ */
	color: $lightGrey;
}

:-ms-input-placeholder {
	color: $lightGrey;
}

input[type=submit] {
	display: inline-block;
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;
	cursor:pointer;
}

select {
	padding: 10px;
	display: inline-block;
	background-color: #F0F0F0;
	border: none;
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;
	cursor:pointer;
}

.btn {
	border-radius: 10px;
	color: #ffffff;
	font-size: 18px;
	padding: 10px;
	text-decoration: none;
	border: none;
}

.btn:hover {
	text-decoration: none;
}

.buttons {

	.btn {
		width: 100%;
		display: inline-block;
		text-align: center;
		height: 65px;
		line-height: 45px;
	}
}

.new-button {
	background-color: #787F7C;
}

.new-button:hover {
	background-color: darken(#787F7C, 15%);
}

.save-button {
	background-color: #6bb6af;
}
.save-button:hover {
	background-color: darken(#C0E0DD, 45%);
}

.download-all {
	display: block;
	width: 100%;
}


.tabs {
	margin-bottom: 20px;
	height: 70px;
	border-radius: 3px;
	max-width: 350px;
}

.tabs .columns {
	padding: 0px;
}

.tab-link {
	display: inline-block;
	width: 60px;
	text-align:center;
	border-radius: 10px;
	text-decoration: none;
	margin: auto;
	margin-top: 5px;
	color: grey;
	padding: 0px 10px 10px 10px;
  font-size: 14px;
}

.tab-link:hover {
	background-color: #F0F0F0;
}

.tab-link i {
  font-size: 18px;
	padding-top: 12px;
	width: 100%;
	text-align:center;
}

.index .tab-link-index {
	background-color: darken(#C0E0DD, 25%);
	color: white;
}

.new .tab-link-new {
	background-color: darken(#C0E0DD, 25%);
	color: white;
}

.list_view .tab-link-list {
	background-color: darken(#C0E0DD, 25%);
	color: white;
}

.stats .tab-link-stats {
	background-color: darken(#C0E0DD, 25%);
	color: white;
}

.save-notice {
	font-size: .8em;
}

.save-notice .time {
	color: darken(#C0E0DD, 25%);
}

.stat-circle {
	width: 150px;
	height: 150px;
	border-radius: 75px;
	margin-top: 20px;
	margin-bottom: 30px;
	margin-left: auto;
	margin-right: auto;
	background-color: #C0E0DD;
}

.stat-number {
	color: white;
	font-size: 40px;
	text-align: center;
	padding-top: 20px;
}

.stat-label {
	color: white;
	text-align: center;
	font-size: 14px;

}


/****** List View *****/
.list {
	table-layout: fixed;
	width: 100%;

	white-space: nowrap;
	font-size: .9em;
	@media screen and (max-width: 500px){
    font-size: 12px;
	}
}

.list td {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding: 10px;
	border-bottom: 1px solid #F0F0F0;
}

.list th {
	font-weight: normal;
	border: 1px solid white;
	padding: 10px 0px 10px 0px;
	background-color: $green;
	color: white;
}

.list th:nth-child(1) {width: 20%}
.list th:nth-child(2) {width: 45%}
.list th:nth-child(3) {width: 20%}

.edit-record {
  color: grey;
}

.edit-record-link {
	background-color: #C0E0DD;
  padding: 6px 6px 6px 9px;
  border-radius: 5px;
}
