// Place all the styles related to the mileage_records controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'foundation';
@import 'foundation_and_overrides';
// $small-screen: 768px;
// $small: "only screen and (min-width: #{$small-screen})";

$green: #1EBBA6;
$blue: #05B2D2;
$darkgrey: #2D373F;
$lightgrey: #F8F9FB;
$orange: #EE7836;
$red: #cc0000;
$purple: #663399;

.records-table {width:100%;font-size:.9em;border: none;color: $darkgrey;margin-top: 20px;}

.tr-row td {
	display: block;
	padding-left: 0px;
	padding-right: 0px;
	@media #{$small} {display:table-cell;padding-top:.01em; padding-bottom: .01em}
}

.tr-row td:before {padding-right: 10px;}

.tr-row td:nth-child(1):before { content: "Date:"}
.tr-row td:nth-child(2):before { content: "Route:"}
.tr-row td:nth-child(3):before { content: "Distance:"}
.tr-row td:nth-child(4):before { content: "End Mileage:"}

@media #{$small} {
	.tr-row td:nth-child(1):before { content: ""}
	.tr-row td:nth-child(2):before { content: ""}
	.tr-row td:nth-child(3):before { content: ""}
	.tr-row td:nth-child(4):before { content: ""}
}

td.actions a {
	float: left;
	width: 50%;
	text-align: center;
	padding: 10px 0px 10px 0px;
	color: white;
}

label {font-weight:300}

td.actions a:nth-child(1) {background-color: $green;@media #{$small} { &:hover {background-color:darken($green,5%)}}}
td.actions a:nth-child(2) {background-color: $purple;@media #{$small} { &:hover {background-color:darken($purple,5%)}}}

.top-bar .name h1 a {font-weight: 200;width:75%;white-space: nowrap;}

.top-bar-section ul li > a {font-weight:200; background: $darkgrey}

.bg-grey {background-color: $darkgrey; color: white}

.button-blue {width:100%;background-color: $blue; font-weight: 200; display:block;margin:20px 0px; padding:1em;color:white;border:none;font-size:.9em;font-weight:thin}
.button-blue:hover {color:white;cursor: pointer}
.mileage-record { @media #{$small} {font-size: .9em }}

form {margin: 20px 0px 20px 0px}

div.date-select select:nth-child(3) {width: 28%;}
div.date-select select:nth-child(4) {width: 41.25%;}
div.date-select select:nth-child(5) {width: 28%;}

select {height: 40px;}