- flash.each do |key, value|
  .alert{class: "alert-#{key}"}
    %a.close{href: "#", data: {no_turbolink: true}, data: {dismiss: "alert"}}
      %i.fa.fa-trash-o.fa-2x.flash-trash
    %ul
      %li
        = value
